*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main{
    width: 100%;
    height: 100vh;
    display: flex;
    >.clock{
        background-color: #616060;
       width: 340px;
       min-height: 150px;
       margin: auto;
       border: 3px solid #9ee9e1;
       padding: 18px;
       box-shadow: 0 0 10px #000;
       border-radius: 10px;
       color: #fa8af2;
    
    }
}